
# flask
__pycache__
api/__pycache__
*.pyc
# venv
api/venv
venv

# react
frontend/node_modules
frontend/test/node_modules
frontend/.pnp
.pnp.js
# testing
frontend/coverage
# production
frontend/build
# misc
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
.env.local
.env.development.local
.env.test.local
.env.production.local

# misc
.DS_Store