certifi
chardet
click
docopt
Flask
Flask-Login
Flask_Login
Flask-WTF
Flask_WTF
idna
bcrypt
cffi
dnspython
email-validator
Flask-Cors
flask_cors
flask-mongoengine
flask_mongoengine
Flask-PyMongo
flask_pymongo
itsdangerous
Jinja2
MarkupSafe
mongoengine
pipreqs
pymongo
requests
urllib3
Werkzeug
WTForms
yarg
pycparser
six
Flask-JWT-Extended
PyJWT
waitress
pytest
pytest-flask
pytest-mongo
pytest-mongodb
flask-pytest
