.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #131417;
    font-size: 2.25rem;
    flex-direction: column;
}
.title {
    font-size: 5.5rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}
.homepageOptions {
    display: flex;
    padding: 6px;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}
a {
    margin-top: 9px;
}
