.topPanel {
    /* border-bottom: 1px solid #e6e6e6; */
    height: 100%;

    display: flex;
    margin-bottom: 5vh;
}
.stack {
    flex-direction: column;
}

.overviewMain {
    margin: 100px auto 0 14.3vw;
    padding-bottom: 10px;
    box-sizing: border-box;
    width: calc(100% - 14.3vw);
    border-bottom: 1px solid #e6e6e6;
    height: 100%;
}

.leftOverview {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightOverView {
    width: 100%;
    float: right;
}

.overviewCard {
    background-color: white;
    height: 100%;
    max-height: 490px;
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.09);
    transition: 0.3s;
    margin-bottom: auto;
    border-radius: 3px;
    padding: 30px;
}
.leftOverview .overviewCard {
    margin-left: auto;
    margin-right: 35px;
}
.rightOverview .overviewCard {
    margin-right: auto;
    margin-left: 35px;
}
.formCenter {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
.spacer {
    display: block;
    padding-bottom: 80px;
    height: auto;
    border-bottom: 1px solid #e6e6e6;
}

.rightSideAlt {
    width: 90% !important;
}

.num {
    font-size: 6em;
}
.top {
    font-size: 1.8em;
}
.bottom {
    font-size: 1.8em;
}
