.formBorder{
    border: .2rem solid #ececec;
    border-radius: 8px;
    padding: 100px;
}
.cardContainer{
    /* background-color: black; */
    height: auto;
}
.rightSide{
    width: 85% !important;
    margin-left: 15vw;
}
.card{
    max-width: 330px !important;
    min-width: 300px;
    margin-top: 30px;
}
.mt9px{
    margin-top: 10px;
}
.green{
    color: green;
}
.red{
    color: red;
}
.halfWidth{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}
.vCenter{
    margin-top: 18vh;
    margin-bottom: auto;
}