.borderNone {
    border: none !important;
}
.marginTopSmaller {
    margin-top: 25px !important;
}
.centerWidth60 {
    margin-left: 25%;
    margin-right: auto;
    width: 60%;
}

.form-check label {
    padding-left: 6px;
}
